<div class="main users-new">
  <div class="container">
    <h1>登録情報変更</h1>
    <div class="form">
    <div class="form-body">
      <% @user.errors.full_messages.each do |message| %>
      <div class="error-message">
        <%= message %>
      </div>
      <% end %>
    <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
    <p>ユーザー名</p>
    <input name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input name="email" value="<%= @user.email %>">
    <p>画像</p>
    <input type="file" name="image">
    <input value="変更" type="submit">
    <% end %>
      </div>
    </div>
  </div>
</div>