<div class="main users-index">
  <div class="container">
    <h1>ユーザー一覧</h1>
    <% @users.each do |user| %>
    <div class="user-index-item">
      <div class="user-left">
        <img>
      </div>
      <div class="user-right">
      <%= user.name %>
    </div>
    <% end %>
    </div>
  </div>
</div>
