<div class="main top-about">
    <div class="about-boby">
        <%= image_tag"girls.jpg" %>
        <p>みんなと一緒に頑張れる</p>
        <p>シンプルでみやすいグラフ</p>
        <img>
        <img>
        <p>コラムでダイエット・美意識UP</p>
    </div>
</div>